@using PlatDuJour.DAL.Services 
@{ 
    Layout = "_AdminLayout";
}

<div class="mt-4 row mb-4">
    <div class="col-md-3">
        <a class="btn btn-primary text-white" asp-action="Create" asp-controller="Users"> Add New User!</a>
    </div>
</div>
<hr/>

@{ await Html.RenderPartialAsync("_PartialUserTable", ViewBag.UserList as List<UserViewModel>); }